* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*body {
    font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: 10px;
    padding: 0 10px 0 0;
    background-color: white;
    background-clip:  inherit;
    background-size:  cover;
    opacity:0.7;
    filter:alpha(opacity=70); 
    background-repeat: no-repeat;
}*/

body:after{
    opacity:0.8;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*background: rgba(255,0,0,0.8); */
     background: rgba(26,175,32,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    /*background: rgba(255,0,0,0.4); */
    background: rgba(26,175,32,0.4);
}

div {
    word-wrap: break-word;
    line-height: 1.25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 auto  0 auto;
}

#view-change-button {
    display: inline-block;
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 1.5625rem;
    background: #AB72F8;
    top: 0.3125rem;
    right: 0.3125rem;
    line-height: 3.125rem;
    vertical-align: middle;
}

#view-change-button img {
    display: none;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#view-change-button:not(.full) .not-full {
    display: inline-block;
}

#view-change-button.full .full {
    display: inline-block;
}

#contentParent {
    height: 0%;
    display: block;
    margin-left: auto;
    margin-right: 10px ;
    padding: 0 0px  0 auto;
}

.responsive-columns-wrapper {

    margin-left: auto;
    margin-right: 10px;
    padding: 0 auto  0 auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -ms-display: flex;
    -ms-flex-direction: row;
}

.responsive-column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
   padding: 0 auto  0 auto;
}

#chat-column-holder {
    text-align: center;
    margin: 0 0 0 0;
  padding: 0 auto  0 auto;
}

.chat-column {
    height: 100%;
     margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 0;
    text-align: left;
    max-width: 25rem;
    min-width: 9.375rem;
}
div.agent-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 auto  0 auto;
    width: 400px;
}
div.agent-icon img {
    height:64px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 auto  0 auto;
    align-content:  center;
}
.agent-icon h3{
    color:  #55960F;
    font-size: 150%;
}

#scrollingChat {
    margin: 0 0px 0 0;
    padding: 0 0px 50px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    /*height: calc(75% - 4rem);*/
    height: 80%;
}
#userInput{
    height: 20%;
    margin: 0 0 0 0;
    padding: 0 0 0 10px;
}

.message-inner {
    opacity: 0;
    margin-top: 0.9375rem;
    -webkit-transition-property: opacity, margin-top;
    -webkit-transition-duration: 0.75s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-property: opacity, margin-top;
    -moz-transition-duration: 0.75s;
    -moz-transition-timing-function: ease-in;
    -o-transition-property: opacity, margin-top;
    -o-transition-duration: 0.75s;
    -o-transition-timing-function: ease-in;
    -ms-transition-property: opacity, margin-top;
    -ms-transition-duration: 0.75s;
    -ms-transition-timing-function: ease-in;
    transition-property: opacity, margin-top;
    transition-duration: 0.75s;
    transition-timing-function: ease-in;
}

.load .message-inner {
    opacity: 1;
    margin-top: 0.3125rem;
}

.from-user {
    text-align: right;
}

.from-user .message-inner {
    position: relative;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    background: #1AAF20;

    border-radius: 1.25rem;
    /*border-bottom-right-radius: 0;*/

    text-align: left;
    display: inline-block;
    margin-left: 2.5rem;
    min-width: 2.5rem;
}

.from-user .message-inner p {
    margin: 0.3125rem;
    padding: 0 0.9375rem;
}

.from-user .message-inner:before, .from-user .message-inner:after {
    content: "";
    position: absolute;
}


.from-user .message-inner:before {

    z-index: -2;
    bottom: -0.375rem;
    right: 0;
    height: 0.375rem;
    width: 0.5rem;
    /*background: #55960F;*/
    background: transparent;

}

.from-user .message-inner:after {

    z-index: -1;
    bottom: -0.5rem;
    right: 0;
    height: 0.5rem;
    width: 0.5rem;
    background: transparent;
    border-top-right-radius: 1.25rem;

}

.from-watson .message-inner {
    position: relative;
    /*border-radius: 1.5625rem;*/
    font-size: 1rem;
    color: #B5B5B5;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    background: white;
}

.from-watson.latest .message-inner {
    color: #323232;
}

.from-watson p {
    margin: 0.3125rem;
    padding: 0 1.25rem;

}

.from-watson.latest.top p:before {
    content: ".";
    color: #9855D4;
    background-image: url("../img/marker.png");
    /* background-repeat: no-repeat;*/
    background-size: 0.3125rem 1.3125rem;
    position: absolute;
    z-index: 2;
    left: 0.4375rem;
    width: 0.3125rem;
	
    height: 1.3125rem;
    line-height: 1.3125rem;
}

/*#textInput {
    border: none;
    outline: none;
    opacity: 0.9;
    border-radius: 0.25rem;
    font-size: 1rem;
    color:  #55960F;
    border : 1px solid #55960F;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    height: 2.5rem;
    max-width: 100%;
    margin-bottom: -0.125rem;
    font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 10%;
}*/

#textInput.underline {
    border-bottom: 2px solid #00B4A0;
}

::-webkit-input-placeholder {
    color: #B5B5B5;
}

::-moz-placeholder {
    color: #B5B5B5;
    opacity:  1;
}

input:-moz-placeholder {
    color: #B5B5B5;
    opacity:  1;
}

:-ms-input-placeholder {
    color: #B5B5B5;
}

::-ms-clear {
    display: none;
}


.inputOutline {
    display: block;
    /*border-bottom: 0.0625rem solid #aeaeae;*/

    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

#textInputDummy {
    /*position:absolute;
    white-space:pre;*/
    top: 0;
    left: -1000%;
    opacity: 0;
}

#payload-column {
    font-family: Monaco, monospace;
    font-size: 0.75rem;
    letter-spacing: 0;
    line-height: 1.125rem;
    background-color: #23292A;
    color: #fff;
    overflow-x: auto;

    width: 45%;
    max-width: 32.0625rem;
    min-width: 29.6875rem;
}

#payload-column.full {
    width: 100%;
    max-width: none;
    min-width: initial;
}

#payload-column .header-text, #payload-column #payload-initial-message {
    font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    color: #9E9E9E;
    letter-spacing: 0.01875rem;
    padding: 0.5rem;
    padding-left: 2.5rem;
    background: #383D3E;
}

.hide {
    display: none;
}

.payload .line-numbers, .payload .payload-text {
    padding: 0.5rem;
}

.line-numbers {
    width: 2rem;
    color: #898989;
    text-align: right;
}

pre {
    margin: 0;
    word-wrap: normal;
}

.string {
    color: #54EED0;
}

.boolean, .null, .number {
    color: #CE8EFF;
}

.key {
    color: #66B7FF;
}

html{
    font-size: 16px;
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .chat-column {
        padding-top: 4rem;
    }

    #payload-column {
        width: 0;
        max-width: none;
        min-width: initial;
    }
}

/* IBM Design fonts https://github.ibm.com/Design/fonts */
@font-face {
    font-family: 'Helvetica Neue for IBM';
    src: url('../fonts/light/h-n-light.eot?') format('eot'),
        url('../fonts/light/h-n-light.woff2') format('woff2'),
        url('../fonts/light/h-n-light.woff') format('woff'),
        url('../fonts/light/h-n-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue for IBM';
    src: url('../fonts/light-italic/h-n-light-italic.eot?') format('eot'),
        url('../fonts/light-italic/h-n-light-italic.woff2') format('woff2'),
        url('../fonts/light-italic/h-n-light-italic.woff') format('woff'),
        url('../fonts/light-italic/h-n-light-italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Neue for IBM';
    src: url('../fonts/roman/h-n-roman.eot?') format('eot'),
        url('../fonts/roman/h-n-roman.woff2') format('woff2'),
        url('../fonts/roman/h-n-roman.woff') format('woff'),
        url('../fonts/roman/h-n-roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue for IBM';
    src: url('../fonts/roman-italic/h-n-roman-italic.eot?') format('eot'),
        url('../fonts/roman-italic/h-n-roman-italic.woff2') format('woff2'),
        url('../fonts/roman-italic/h-n-roman-italic.woff') format('woff'),
        url('../fonts/roman-italic/h-n-roman-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Neue for IBM';
    src: url('../fonts/medium/h-n-medium.eot?') format('eot'),
        url('../fonts/medium/h-n-medium.woff2') format('woff2'),
        url('../fonts/medium/h-n-medium.woff') format('woff'),
        url('../fonts/medium/h-n-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue for IBM';
    src: url('../fonts/medium-italic/h-n-medium-italic.eot?') format('eot'),
        url('../fonts/medium-italic/h-n-medium-italic.woff2') format('woff2'),
        url('../fonts/medium-italic/h-n-medium-italic.woff') format('woff'),
        url('../fonts/medium-italic/h-n-medium-italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica Neue for IBM';
    src: url('../fonts/bold/h-n-bold.eot?') format('eot'),
        url('../fonts/bold/h-n-bold.woff2') format('woff2'),
        url('../fonts/bold/h-n-bold.woff') format('woff'),
        url('../fonts/bold/h-n-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue for IBM';
    src: url('../fonts/bold-italic/h-n-bold-italic.eot?') format('eot'),
        url('../fonts/bold-italic/h-n-bold-italic.woff2') format('woff2'),
        url('../fonts/bold-italic/h-n-bold-italic.woff') format('woff'),
        url('../fonts/bold-italic/h-n-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* IBM Icons */
@font-face {
    font-family: 'ibm-icons';
    src:url('../fonts/ibm-icons.eot?ytcz1z') format('eot'),
        url('../fonts/ibm-icons.eot?ytcz1z#iefix') format('embedded-opentype'),
        url('../fonts/ibm-icons.ttf?ytcz1z') format('truetype'),
        url('../fonts/ibm-icons.woff?ytcz1z') format('woff'),
        url('../fonts/ibm-icons.svg?ytcz1z#ibm-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* IBM glyphs */
@font-face {
    font-family: 'ibm-glyph';
    src:url('../fonts/ibm-glyphs.eot?1b8643') format('eot'),
        url('../fonts/ibm-glyphs.eot?1b8643#iefix') format('embedded-opentype'),
        url('../fonts/ibm-glyphs.ttf?1b8643') format('truetype'),
        url('../fonts/ibm-glyphs.woff?1b8643') format('woff'),
        url('../fonts/ibm-glyphs.svg?1b8643#ibm-glyph') format('svg');
    font-weight: normal;
    font-style: normal;
}

a.link:visited,a.link{
    color: green;
}