/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 26, 2016, 12:26:17 PM
    Author     : Chuks
*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 1px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
	//border-width: 10px;
}
