	<link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-ui.js"></script>
    <script src="js/form.js"></script>
	
        <div class="container">  
            <form id="contact" action="" method="post">
                <section id="account_type_open">
                    <img src="images/bg1.jpg" width="100%"/>
                    <!--h4>Contact us for custom quote</h4-->

                    <fieldset>
                        <select required name="account_type">
                            <option value="" >Category of Account</option>
                            <option value="Saving Account" selected>Saving Account</option>
                            <option value="Current Account">Current Account</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <button name="next" type="button"  id="next_about_you">Continue</button>
                    </fieldset>


                </section>
                
                <section id="about_you">
                    <h3>About You</h3><br/>

                    <fieldset>
                        <select required name="title">
                            <option value="" selected="">Title</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <input placeholder="First Name" type="text" tabindex="1" required autofocus name="fname">
                    </fieldset>
                    <fieldset>
                        <input placeholder="Other Name" type="text" tabindex="1" required autofocus name="lname">
                    </fieldset>
                    
                    <fieldset>
                        <select required name="gender">
                            <option value="" selected="">Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <input placeholder="Date of Birth" type="text" id="datepicker" tabindex="1" required autofocus name="dob">
                </fieldset>
                    <fieldset>
                    <input placeholder="Place of Birth" type="text" tabindex="1" required autofocus name="pob">
                </fieldset>
                    <fieldset>
                    <input placeholder="Nationality" type="text" tabindex="1" required autofocus name="nationality">
                </fieldset>
                    <fieldset>
                    <input placeholder="LGA" type="text" tabindex="1" required autofocus name="lga">
                </fieldset>
                    <fieldset>
                    <input placeholder="State of Origin" type="text" tabindex="1" required autofocus name="state_origin">
                </fieldset>
                 <fieldset>
                    <input placeholder="Purpose of Account" type="text" tabindex="1" required autofocus name="purpose_account">
                </fieldset> 
                    
                 <fieldset>
                        <button name="Continue" type="button" id="next_contact_details" >Continue</button>
                    </fieldset>
                    <fieldset>
                        <center><a href="#" id="previous_account_type">Previous</a></center>
                    </fieldset>
                </section>
                    
                <section id="contact_details">
                    <h3>Contact Details</h3><br/>
                    <fieldset>
                    <input placeholder="House Number" type="text" tabindex="1" required autofocus>
                </fieldset>
                    <fieldset>
                    <input placeholder="Street Name" type="text" tabindex="1" required autofocus>
                </fieldset>
                    <fieldset>
                    <input placeholder="City/Town" type="text" tabindex="1" required autofocus>
                </fieldset>
                  <fieldset>
                    <input placeholder="LGA" type="text" tabindex="1" required autofocus>
                </fieldset>
                 <fieldset>
                    <input placeholder="State" type="text" tabindex="1" required autofocus>
                </fieldset>
                <fieldset>
                    <input placeholder="Mailing Address" type="text" tabindex="1" required autofocus>
                </fieldset>
                <fieldset>
                    <input placeholder="Phone Number" type="text" tabindex="1" required autofocus>
                </fieldset>
                <fieldset>
                    <input placeholder="Email Address" type="email" tabindex="1" required autofocus>
                </fieldset>
                 <fieldset>
                     <button name="Continue" type="button" id="next_means_identity">Continue</button>
                    </fieldset>
                    <fieldset>
                        <center><a href="#" id="previous_about_you">Previous</a></center>
                    </fieldset>
                </section>
                
                <section id="means_identity">
                    <h3>Means of Identification</h3><br/>
                    <fieldset>
                        <select required name="identification">
                            <option value="" selected="">Identification</option>
                            <option value="National ID">National ID</option>
                            <option value="International Passport">International Passport</option>
                            <option value="Valid INEC Voter's Card">Valid INEC Voter's Card</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <select required name="card_type">
                            <option value="" selected="">Card Preferences</option>
                            <option value="Verve Card">Verve Card</option>
                            <option value="Master Card">Master Card</option>
                            <option value="Valid Visa Card">Valid Visa Card</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <select required name="statement_preferences">
                            <option value="" selected="">Statement Preferences</option>
                            <option value="Email">Email</option>
                            <option value="Post">Post</option>
                            <option value="Collection at Branch">Collection at Branch</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <select required name="electronic_banking_preference">
                            <option value="" selected="">Electronic Banking Preference</option>
                            <option value="Internet Banking">Internet Banking</option>
                            <option value="Mobile Banking">Mobile Banking</option>
                            <option value="ATM">ATM</option>
                        </select>
                    </fieldset>
                    <fieldset>
                    <button name="submit" type="submit"  data-submit="...Sending">Submit</button>
                    
                </fieldset>
                    <fieldset>
                        <center><a href="#" id="previous_contact_details">Previous</a></center>
                    </fieldset>
                </section>
            </form>
        </div>

