<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
  
  <style type="text/css">
/*    html, body {
      margin: 0;
      padding: 0;
    }*/

    * {
      box-sizing: border-box;
    }

.lileft2  {
	text-align: left;
}

    .slider {
        width: 100%;
        margin: 0px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
	
	.button {
		position: relative;
		background-color: #008CBA;
		border: none;
		font-size: 14px;
		color: #FFFFFF;
		padding: 12px;
		width: 200px;
		text-align: center;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		text-decoration: none;
		overflow: hidden;
		cursor: pointer;
	}

	.button:after {
		content: "";
		background: #f1f1f1;
		display: block;
		position: absolute;
		padding-top: 300%;
		padding-left: 350%;
		margin-left: -20px !important;
		margin-top: -120%;
		opacity: 0;
		transition: all 0.8s
	}

	.button:active:after {
		padding: 0;
		margin: 0;
		opacity: 1;
		transition: 0s
	}
  </style>

  <img src="img/hb_logo.png">
  
	<section class="regular slider">
		<div>
			<h2>Bud For Kids</h2>
			<img src="pages/hb-acct-images/heritage-bank-bud-account.jpg" alt="">
			<br/>
			
			<p class="lileft2">Is the savings account for children & teenagers — Bud Mini, Bud Teen & Bud Maxx.</p>
			
			<h3 style="text-align: left">Requirements</h3>
			
			<ul>
				<li class="lileft2">Account Opening balance of N2,000</li>
				<li class="lileft2">2% interest bonus above normal savings interest rate</li>
				<li class="lileft2">Customer forfeits the interest after two withdrawals</li>
				<li class="lileft2">Minimum operating balance of N2,000</li>
			</ul>

			<button class="button">Fits my plan</button>
			<br/><br/>
		</div>
		
		<div>
			<h2>Starter For Unbanked</h2>
			<img src="pages/hb-acct-images/heritage-bank-starter.jpg" alt="">
			<br/>
			
			<p class="lileft2">This is the CBN KYC Tier 1 savings account designed to cater to those referred to as 'unbanked'.</p>
			
			<h3 style="text-align: left">Requirements</h3>
			
			<ul>
				<li class="lileft2">Account Opening Balance of 2,000.</li>
				<li class="lileft2">N1,000 Minimum operating balance</li>
				<li class="lileft2">Only basic information required:- Name, Place and date of birth, gender, address and telephone numbers registered with any of the Mobile Companies.</li>
			</ul>

			<button class="button">Fits my plan</button>
			<br/><br/>
		</div>
		
		<div>
			<h2>Pro</h2>
			<img src="pages/hb-acct-images/hb-pro.jpg" alt="">
			<br/>
			
			<h3 style="text-align: left">Requirements</h3>
			
			<ul>
				<li class="lileft2">Account Opening balance of N2,000</li>
				<li class="lileft2">N1,000 Minimum operating balance</li>
				<li class="lileft2">Single deposit limit of N100,000</li>
				<li class="lileft2">Maximum cumulative balance of N500,000 at any point in time</li>
				<li class="lileft2">Form of ID; could be INEC voters card, National ID etc.</li>
				<li class="lileft2">Evidence of customer information: Passport photograph, Name, place and date of birth, etc. is required.</li>
			</ul>

			<button class="button">Fits my plan</button>
			<br/><br/>
		</div>
		
		<div>
			<h2>Save Smart</h2>
			<img src="pages/hb-acct-images/heritage-save-smart.jpg" alt="">
			<br/>
			
			<p class="lileft2">Regular Savings Account for individuals above 18 years.</p>
			
			<h3 style="text-align: left">Requirements</h3>
			
			<ul>
				<li class="lileft2">Account Opening Balance of N2,000</li>
				<li class="lileft2">Minimum Balance N1,000</li>
				<li class="lileft2">Interest on credit balances</li>
				<li class="lileft2">Deposit allowed by 3rd party</li>
				<li class="lileft2">Access to internet and Mobile Banking</li>
			</ul>

			<button class="button">Fits my plan</button>
			<br/><br/>
		</div>
		
		<div>
			<h2>Plus</h2>
			<img src="pages/hb-acct-images/bonus-account.jpg" alt="">
			<br/>
			
			<p class="lileft2">This is a High-Yield Hybrid Account. A Savings Account that has the features of a current account with bonus interest.</p>
			
			<h3 style="text-align: left">Requirements</h3>
			
			<ul>
				<li class="lileft2">Opening Balance N10,000</li>
				<li class="lileft2">Minimum Balance of N10,00 (a monthly charge of N100 if balance falls below N10,000)</li>
				<li class="lileft2">1% bonus on normal interest rate</li>
				<li class="lileft2">Allows dividend warrants</li>
			</ul>

			<button class="button">Fits my plan</button>
			<br/><br/>
		</div>
		
		<div>
			<h2>Plus Silver</h2>
			<img src="pages/hb-acct-images/silver-account1.jpg" alt="">
			<br/>
			
			<p class="lileft2">This is specially designed for salary earners who would like to receive their salaries through a savings account.</p>
			
			<h3 style="text-align: left">Requirements</h3>
			
			<ul>
				<li class="lileft2">Account Opening Balance N0.00</li>
				<li class="lileft2">Minimum Balance N500.00</li>
				<li class="lileft2">Applicable interest rate</li>
				<li class="lileft2">Access to non-clearing cheque book</li>
				<li class="lileft2">Recent utility bill and evidence of address verification by the RM</li>
			</ul>

			<button class="button">Fits my plan</button>
			<br/><br/>
		</div>
		
		<div>
			<h2>Individual Current</h2>
			<img src="pages/hb-acct-images/individual-accounts.jpg" alt="">
			<br/>
			
			<p class="lileft2">The Current Account suitable for individuals (above 18yrs) who would like to reduce cost while transacting.</p>
			
			<h3 style="text-align: left">Requirements</h3>
			
			<ul>
				<li class="lileft2">Account Opening Balance N5,000</li>
				<li class="lileft2">Zero COT</li>
				<li class="lileft2">Applicable maintenance fee</li>
				<li class="lileft2">Recent utility bill and evidence of address verification</li>
				<li class="lileft2">Account Opening Form</li>
			</ul>

			<button class="button">Fits my plan</button>
			<br/><br/>
		</div>
		
		<div>
			<h2>Prime Current</h2>
			<img src="pages/hb-acct-images/heritage-bank-prime-account.jpg" alt="">
			<br/>
			
			<p class="lileft2">Prime Current Account is specifically designed for the emerging mass affluent individuals who desire some lifestyle benefits.</p>
			
			<h3 style="text-align: left">Requirements</h3>
			
			<ul>
				<li class="lileft2">Opening Balance of N100,000</li>
				<li class="lileft2">Minimum Operating Balance of N100,000</li>
				<li class="lileft2">Allow lodgement of dividend warrant</li>
				<li class="lileft2">Annual Gift vouchers(discounts, promotions & offers)</li>
			</ul>

			<button class="button">Fits my plan</button>
			<br/><br/>
		</div>
		
		<div>
			<h2>SME Account</h2>
			<img src="pages/hb-acct-images/sme-account.jpg" alt="">
			<br/>
			
			<p class="lileft2">This account is specially designed registered businesses, MSMEs; SMEs.</p>
			
			<h3 style="text-align: left">Requirements</h3>
			
			<ul>
				<li class="lileft2">Opening Balance of N25,000</li>
				<li class="lileft2">Minimum Operating Balance of N10,000</li>
				<li class="lileft2">Zero COT</li>
				<li class="lileft2">Allows up to N50m turnover annually</li>
				<li class="lileft2">Applicable maintenance fee</li>
				<li class="lileft2">Access to SME OD & Term Loan ( Terms & conditions apply)</li>
			</ul>

			<button class="button">Fits my plan</button>
			<br/><br/>
		</div>
	</section>

<script src="js/slick.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	$(".regular").slick({
		dots: true,
		infinite: true,
		speed: 300,
		slidesToShow: 1,
		adaptiveHeight: true
	});
	
	$('.button').click(function() {
		$('#pageContent').load('../pages/forms.html');
	});
</script>

