<style>
	fieldset{
		border: 0px;
	}
	.boxes {
	  margin: auto;
	  padding: 50px;
	}

	/*Checkboxes styles*/

	input[type="checkbox"] {
	  display: none;
	}

	input[type="checkbox"] + label {
	  display: block;
	  position: relative;
	  padding-left: 35px;
	  margin-bottom: 20px;
	  font: 14px/25px 'Open Sans', Arial, sans-serif;
	/*  color: #ddd;*/
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	}

	input[type="checkbox"] + label:last-child {
	  margin-bottom: 0;
	}

	input[type="checkbox"] + label:before {
	  content: '';
	  display: block;
	  width: 20px;
	  height: 20px;
	  border: 1px solid #6cc0e5;
	  position: absolute;
	  left: 0;
	  top: 0;
	  opacity: .6;
	  -webkit-transition: all .12s, border-color .08s;
	  transition: all .12s, border-color .08s;
	}

	input[type="checkbox"]:checked + label:before {
	  width: 10px;
	  top: -5px;
	  left: 5px;
	  border-radius: 0;
	  opacity: 1;
	  border-top-color: transparent;
	  border-left-color: transparent;
	  -webkit-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	/*radio button*/
	input[type=radio].css-checkbox {
		position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
	}

	input[type=radio].css-checkbox + label.css-label {
		padding-left:24px;
		height:19px; 
		display:inline-block;
		line-height:19px;
		background-repeat:no-repeat;
		background-position: 0 0;
		font-size:19px;
		vertical-align:middle;
		cursor:pointer;
		font: 14px/25px 'Open Sans', Arial, sans-serif;
	}

	input[type=radio].css-checkbox:checked + label.css-label {
		background-position: 0 -19px;
	}

	label.css-label {
		background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_2b11ffd786f26ecf4566f0437d2cd8ad.png);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
</style>

<img src="../img/hb_logo.png">

<form>
	<fieldset id="step1">
		<p style="text-align: left">
			Hello, I noticed you are trying to make up your mind on which type of account to open. I will be your guide through this process.
			<br/><br/>
			Please indicate the beneficiary of the account.
		</p>
		
		<table style="padding: 0px;">
			<tr>
				<td>
					<input type="radio" name="radiog_dark" id="radio4" class="css-checkbox" checked="checked"/>
					<label for="radio4" class="css-label radGroup2">Kids</label>
				</td>

				<td>
					<input type="radio" name="radiog_dark" id="radio5" class="css-checkbox" />
					<label for="radio5" class="css-label radGroup2">Undergraduates</label>
				</td>

				<td>
					<input type="radio" name="radiog_dark" id="radio6" class="css-checkbox" />
					<label for="radio6" class="css-label radGroup2">Adults</label>
				</td>
			</tr>
		</table>
		
		<div align="right">
			<button id="btn_next" class="btn btn-4 btn4a">Next</button>
		</div>
	</fieldset>

	<fieldset id="step2" style="display: none">
		<p style="text-align: left">
			Fantastic! What additional benefits would you like to have attached to the account?
		</p>
		
		<div class="boxes">
			<input type="checkbox" id="box-1" checked>
			<label for="box-1" style="text-align: left">Low/No COT</label>

			<input type="checkbox" id="box-2" >
			<label for="box-2" style="text-align: left">High interest rates</label>

			<input type="checkbox" id="box-3">
			<label for="box-3" style="text-align: left">Low minimum balance( Below N1000 )</label>
		</div>
		
		<div align="right">
			<button id="btn_search" class="btn btn-4 btn4a">Search</button>
		</div>
		<br/>
	</fieldset>
</form>


<script>
	$('#btn_next').click(function(e) {
		e.preventDefault();
        $('#step1').fadeOut(1000);
        $('#step2').fadeIn(1000);
    });
	
	$('#btn_search').click(function(e) {
		e.preventDefault();
		$('#pageContent').load('../pages/accounts.html');
	});
</script>