<!--<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
	height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
/*  html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }*/
</style>

<div id="map" style="width:100%; height:500px"></div>

<script>
	var map;
	
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
		center: {lat: -34.397, lng: 150.644},
		zoom: 8
		});
	}
</script>

 Google map 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvNhRsJCSDHxWhfb-3C5ZbARfLzrRkjnc&callback=initMap" async defer></script>
-->

<div id="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d63414.81064986842!2d3.3277410136735197!3d6.593899202891461!3m2!1i1024!2i768!4f13.1!2m1!1sclosest+heritage+bank+to+my+location!5e0!3m2!1sen!2sng!4v1482761123807" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
