<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/jquery.material.form.css">
<link rel="stylesheet" type="text/css" href="css/material-font.css">
<link rel="stylesheet" type="text/css" href="css/material-font.css">
<link rel="stylesheet" type="text/css" href="css/modal.css">

<style>
.tile_div a {
    display: block;
    float: right;
    margin-right: 5px;
    text-decoration: none;
}
</style>

<img src="../img/hb_logo.png">

<p align='left' style='padding: 10px;'>
	Please kindly fill out the feedback form so we can serve you better.
</p>

<form action="" class="material" style='padding: 10px;' id="formfeedback" enctype="application/x-www-form-urlencoded">
	<select name="rate" placeholder="Please rate your experience" required>
		<option value="I don't like it">I don't like it</option>
		<option value="It was okay">It was okay</option>
		<option value="I loved it">I loved it</option>
	</select>

	<select name="need" placeholder="Did you find what you need?" required>
		<option value="Yes">Yes</option>
		<option value="No">No</option>
	</select>
	
	<select name="visit" placeholder="Would you visit again?" required>
		<option value="Yes">Yes</option>
		<option value="No">No</option>
	</select>

	<textarea name="info" placeholder="Anything we can improve?" required></textarea>

	<div class="tile_div">
		<strong><a id='btnsubmit' class="btn-flat btn-link w3-btn" align='right'>Submit</a></strong>
	</div>
</form>

<br/><br/>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="confirm_message"></p>
	<div>
		<strong><a id='btnconfirm' class="btn-flat btn-link" align='right' style="font-size: 18px;" onclick="closeNav()">Okay</a></strong>
	</div>
  </div>
</div>

<!-- Error modal -->
<div id="myModalError" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="">&times;</span>
    <p>
		Please ensure all fields are properly field.
	</p>
	<div>
		<strong><a id='btnerror' class="btn-flat btn-link" align='right' style="font-size: 18px;">Okay</a></strong>
	</div>
  </div>
</div>

<script type="text/javascript" src="js/jquery.validate.min.js"></script> 
<script type="text/javascript" src="js/jquery.material.form.js"></script>

<script type="text/javascript">
	$('#datepicker').dateDropper();
	
	$(function(){
		$('form.material').materialForm(); // Apply material
		$('form').validate({ 
			errorPlacement: function(error, element) {}
		}); // Apply validator with no error messages but classes only
	});
</script>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById('btnsubmit');

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
	$.post("https://novajii.com/demo/public/api/v1/feedback/rate", $( "form#formfeedback" ).serialize(), function (data) {
		$("#confirm_message").html("<img src='../img/hb_logo.png'><br/><br/>"+ data);
		modal.style.display = "block";
	});
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
	closeNav();
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>