<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/jquery.material.form.css">
<link rel="stylesheet" type="text/css" href="css/material-font.css">
<link rel="stylesheet" type="text/css" href="css/material-font.css">
<link rel="stylesheet" type="text/css" href="css/modal.css">

<style>
.tile_div a {
    display: block;
    float: right;
    margin-right: 5px;
    text-decoration: none;
}
</style>

<img src="../img/hb_logo.png">

<p align='left' style='padding: 10px;'>
	You're almost done. Please ensure all fields are properly filled.
</p>

<form action="" class="material" style='padding: 10px;' id="formaccount" enctype="application/x-www-form-urlencoded">
	<fieldset id='step1'>
		<input type="text" name="firstname" placeholder="First name" required>
		<input type="text" name="lastname" placeholder="Last name" required>
		<input type="email" name="email" placeholder="E-mail" required>
		<input type="number" name="phone" placeholder="Mobile number" required="required">
		<strong><a id='next' class="btn-flat btn-link" align='right'>Next</a></strong>
	</fieldset>

	<fieldset style='display: none' id='step2'>
		<select name="gender" placeholder="Select gender" required>
			<option value="Male">Male</option>
			<option value="Female">Female</option>
		</select>

		<input placeholder="Date of Birth" type="text" id="datepicker" tabindex="1" required name="dob" data-theme="my-style" data-modal="true">

		<select name="state" placeholder="Select state of origin" required>
			<option value="Lagos">Lagos</option>
			<option value="Port Harcourt">Port Harcourt</option>
			<option value="Kaduna">Kaduna</option>
			<option value="Enugu">Enugu</option>
		</select>

		<textarea name="info" placeholder="Additional information(About you)" required></textarea>
		
		<div class="tile_div">
			<strong><a id='btnsubmit' class="btn-flat btn-link w3-btn" align='right'>Submit</a></strong>
			<strong><a id='back' class="btn-flat btn-link w3-btn" align='right'>Back</a></strong>
		</div>
	</fieldset>
</form>

<br/><br/>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="confirm_message"></p>
	<div>
		<strong><a id='btnconfirm' class="btn-flat btn-link" align='right' style="font-size: 18px;" onclick="closeNav()">Okay</a></strong>
	</div>
  </div>
</div>

<!-- Error modal -->
<div id="myModalError" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="">&times;</span>
    <p>
		Please ensure all fields are properly field.
	</p>
	<div>
		<strong><a id='btnerror' class="btn-flat btn-link" align='right' style="font-size: 18px;">Okay</a></strong>
	</div>
  </div>
</div>

<script type="text/javascript" src="js/jquery.validate.min.js"></script> 
<script type="text/javascript" src="js/jquery.material.form.js"></script>

<script type="text/javascript">
	$('#datepicker').dateDropper();
	
	$(function(){
		$('form.material').materialForm(); // Apply material
		$('form').validate({ 
			errorPlacement: function(error, element) {}
		}); // Apply validator with no error messages but classes only
	});
	
	$('#next').click(function() {
		$('#step1').hide();
		$('#step2').show();
	});
	
	$('#back').click(function() {
		$('#step1').show();
		$('#step2').hide();
	});
</script>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById('btnsubmit');

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
	$.post("https://novajii.com/demo/public/api/v1/account/new", $( "form#formaccount" ).serialize(), function (data) {
		$("#confirm_message").html("<img src='../img/hb_logo.png'><br/><br/>"+ data);
		modal.style.display = "block";
	});
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
	closeNav();
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>