<link rel="stylesheet" href="css/jquery-ui.css">
<link rel="stylesheet" href="css/style.css">
<!--<script src="js/jquery-1.12.4.js"></script>-->
<script src="js/jquery-ui.js"></script>
<script src="js/form.js"></script>

<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
    
        <div class="container">  
            <form id="contact" action="" method="post">
                <section id="account_type_open">
                    <img src="images/bg1.jpg" width="100%"/>
                    <fieldset>
                        <select required name="account_type">
                            <option value="" selected="">Category of Account</option>
                            <option value="Saving Account">Saving Account</option>
                            <option value="Current Account">Current Account</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <button name="next" type="button"  id="next_about_you">Continue</button>
                    </fieldset>


                </section>
                
                <section id="about_you">
                    <h3>About You</h3><br/>

                    <fieldset>
                        <select required name="title">
                            <option value="" selected="">Title</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <input placeholder="First Name" type="text" tabindex="1" required name="fname">
                    </fieldset>
                    <fieldset>
                        <input placeholder="Other Name" type="text" tabindex="1" required name="lname">
                    </fieldset>
                    
                    <fieldset>
                        <select required name="gender">
                            <option value="" selected="">Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <input placeholder="Date of Birth" type="text" id="datepicker" tabindex="1" required name="dob" data-theme="my-style" data-modal="true">
                </fieldset>
                    <fieldset>
                    <input placeholder="Place of Birth" type="text" tabindex="1" required name="pob">
                </fieldset>
                    <fieldset>
                    <input placeholder="Nationality" type="text" tabindex="1" required name="nationality">
                </fieldset>
                    <fieldset>
                    <input placeholder="LGA" type="text" tabindex="1" required name="lga">
                </fieldset>
                    <fieldset>
                    <input placeholder="State of Origin" type="text" tabindex="1" required name="state_origin">
                </fieldset>
                 <fieldset>
                    <input placeholder="Purpose of Account" type="text" tabindex="1" required name="purpose_account">
                </fieldset> 
                    
                 <fieldset>
                        <button name="Continue" type="button" id="next_contact_details" >Continue</button>
                    </fieldset>
                    <fieldset>
                        <center><a href="#" id="previous_account_type">Previous</a></center>
                    </fieldset>
                </section>
                    
                <section id="contact_details">
                    <h3>Contact Details</h3><br/>
                    <fieldset>
                    <input placeholder="House Number" type="text" tabindex="1" required >
                </fieldset>
                    <fieldset>
                    <input placeholder="Street Name" type="text" tabindex="1" required >
                </fieldset>
                    <fieldset>
                    <input placeholder="City/Town" type="text" tabindex="1" required>
                </fieldset>
                  <fieldset>
                    <input placeholder="LGA" type="text" tabindex="1" required>
                </fieldset>
                 <fieldset>
                    <input placeholder="State" type="text" tabindex="1" required>
                </fieldset>
                <fieldset>
                    <input placeholder="Mailing Address" type="text" tabindex="1" required>
                </fieldset>
                <fieldset>
                    <input placeholder="Phone Number" type="text" tabindex="1" required>
                </fieldset>
                <fieldset>
                    <input placeholder="Email Address" type="email" tabindex="1" required>
                </fieldset>
                 <fieldset>
                     <button name="Continue" type="button" id="next_means_identity">Continue</button>
                    </fieldset>
                    <fieldset>
                        <center><a href="#" id="previous_about_you">Previous</a></center>
                    </fieldset>
                </section>
                
                <section id="means_identity">
                    <h3>Means of Identification</h3><br/>
                    <fieldset>
                        <select required name="identification">
                            <option value="" selected="">Identification</option>
                            <option value="National ID">National ID</option>
                            <option value="International Passport">International Passport</option>
                            <option value="Valid INEC Voter's Card">Valid INEC Voter's Card</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <select required name="card_type">
                            <option value="" selected="">Card Preferences</option>
                            <option value="Verve Card">Verve Card</option>
                            <option value="Master Card">Master Card</option>
                            <option value="Valid Visa Card">Valid Visa Card</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <select required name="statement_preferences">
                            <option value="" selected="">Statement Preferences</option>
                            <option value="Email">Email</option>
                            <option value="Post">Post</option>
                            <option value="Collection at Branch">Collection at Branch</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <select required name="electronic_banking_preference">
                            <option value="" selected="">Electronic Banking Preference</option>
                            <option value="Internet Banking">Internet Banking</option>
                            <option value="Mobile Banking">Mobile Banking</option>
                            <option value="ATM">ATM</option>
                        </select>
                    </fieldset>
                    <fieldset>
                    <button name="submit" type="submit" id="myBtn"  data-submit="...Sending">Submit</button>
                    
                </fieldset>
                    <fieldset>
                        <center><a href="#" id="previous_contact_details">Previous</a></center>
                    </fieldset>
                </section>
                
            </form>
        </div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="confirm_message"></p>
	<div>
		<input type="text" class="btn btn-4 btn-4a" onclick="closeNav()" value="Close" style="text-align: center"/>
	</div>
  </div>

</div>

<script>
$('#datepicker').dateDropper();
	
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
	$('input').each(function() {
		var result = new Date();
		result.setDate(result.getDate() + 7);
		
		if ($(this).val() != '') {
			$("#confirm_message").html("<img src='../img/hb_logo.png'><br/><br/>Thanks for filling the form. Please visit the nearest HB branch closest to you from "
				+ result +" to complete the process.");
				modal.style.display = "block";
				//$('form#contact')[0].reset();
		} else {
			return false;
		}
	});
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>